<div id="container">
	<%= javascript_include_tag 'detector.js' %>
	<%= javascript_include_tag 'three_r69.js' %>
	<%= javascript_include_tag 'dynamic_textures.js' %>
	<%= javascript_include_tag 'helpers.js' %>
	<%= javascript_include_tag 'trailers.js' %>
	<%= javascript_include_tag 'objects.js' %>
	<%= javascript_include_tag 'init.js' %>
</div>

<footer id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <a href='/static_pages/about'>about</a>&nbsp;
    <a href='/static_pages/contact'>contact</a>&nbsp;
    <a href='/static_pages/legal'>legal</a>&nbsp;
</footer>

