
<div id="loading">loading...</div>

<div id="container">
	<%= javascript_include_tag 'three_r69.js' %>
	<%= javascript_include_tag 'detector.js' %>
	<%= javascript_include_tag 'orbitcontrols.js' %>
	<%= javascript_include_tag 'curve.js' %>
	<%= javascript_include_tag 'helpers.js' %>
	<%= javascript_include_tag 'trailers.js' %>
	<%= javascript_include_tag 'trailer_cube_home.js' %>
</div>

